/out/
/build/
/buildSrc/build/
/buildSrc/.gradle/
/app/build/
/lib/build/
/merger/build/
/resource-generator/build/
/.gradle/
~$*.docx
out.pdf
/app/bin/
/lib/bin/
/merger/bin/
/resource-generator/bin/
